@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #003432;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #003432;
  }
}

body {
  background: #003432;
  color: #ffffff;
}

.project-scroller::-webkit-scrollbar {
  width: 20px
}

.project-scroller::-webkit-scrollbar-track {
  border-radius: 10px;
}


.project-scroller::-webkit-scrollbar-thumb {
  background: rgba(31, 41, 55, 0.6);
  border-radius: 10px;
}

@layer components {
  .navIcon {
    @apply relative flex items-center justify-center cursor-pointer
    h-12 w-12  mx-auto bg-secondary rounded-3xl
    lg:h-16 lg:w-16 lg:rounded-full
    hover:bg-buttons hover:rounded-xl
    transition-all duration-200 ease-linear
  }
  .navIcon-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max top-12 lg:top-16
    rounded-md shadow-md
    text-text bg-secondary
    text-sm font-semibold
    transition-all duration-100 scale-0 origin-top
  }

  .main__button {
    @apply text-lg bg-buttons rounded-3xl py-2 px-6 w-fit 
    hover:bg-[#f47d4c] hover:rounded-xl 
    transition-all duration-200 ease-linear
  }

  .social__button {
    @apply bg-[transparent] rounded-2xl py-2 px-2 w-fit 
    hover:bg-buttons hover:rounded-xl 
    transition-all duration-200 ease-linear
  }

  .icon-container {
    @apply flex justify-center content-center gap-5 flex-wrap
  }

  .Projects__timeline-header {
    @apply grid content-center justify-center text-center mb-6 md:text-base lg:text-2xl 
    relative opacity-0 max-w-fit mx-auto pl-[10%] md:pl-[12%] lg:pl-[11%]
  }
 
  .project-scroller {
    @apply min-h-fit my-auto w-[90%] snap-x snap-mandatory grid gap-6 grid-flow-col 
    overflow-x-auto overscroll-contain auto-cols-[90%]
  }

  .project-scroller > * {
    @apply snap-start
  }

  .project-scroller > :first-child > .Projects__timeline-header {
    @apply pl-[12%] sm:pl-[13%] pr-0 md:pl-[12.5%] lg:pl-[13%]
  }

  .project-scroller > :last-child > .Projects__timeline-header {
    @apply pl-0 pr-[16%] sm:pr-[13%] md:pr-[10%] lg:pr-[11%]
  }

  .project-section__content {
    @apply flex flex-col justify-center content-center gap-4 px-2 bg-secondary rounded-2xl h-[60vh]  lg:flex-row lg:h-[50vh]
  }

  .project-section__content > :first-child {
    @apply w-[90%] mx-auto lg:w-[60%] xl:w-[50%]
  }

  .project-section__content > :last-child {
    @apply w-[90%] mx-auto
  }  
}


.blob {
  border-radius: 41% 59% 69% 31% / 59% 32% 68% 41%;
}

.footer {
  background: #209cee;
  background: linear-gradient(0deg, #3c90a7 2%, #003432 66%);
}